<div class="container">
  <section class="content-header">
  </section>
  <section class="content">
    <div class="box">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-lg-2">チェック日付</th>
            <% Plan.all.each do |plan| %>
            <th><%= plan.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
          <tr>
            <td><%= job.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <% Plan.all.each do |plan| %>
            <td>
              <% job.vacancies.where(plan: plan).each.with_index do |vacancy, index| %>
                <%= link_to vacancy.to_s, "#{plan.url}&dt=#{vacancy.date.strftime('%Y%m%d')}", target: '_blank' %>
                <br>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
