<div class="container">
  <section class="content-header">
  </section>
  <section class="content">
    <div class="box">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-lg-2">チェック日付</th>
            <th>空室日</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
          <tr>
            <td><%= job.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td><%= job.vacancies.map(&:to_s).join(', ') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>
