<% Plan.all.each do |plan| %>
<h2>■ <%= plan.name %></h2>
<ul>
<% @job.vacancies.where(plan: plan).each do |vacancy| %>
  <li>
    <%= link_to vacancy.to_s, "#{vacancy.plan.url}&dt=#{vacancy.date.strftime('%Y%m%d')}" %>
  </li>
<% end %>
</ul>
<% end %>
<br>
<a href="https://miracosta-checker.herokuapp.com">https://miracosta-checker.herokuapp.com</a>